<ngx-ui-loader></ngx-ui-loader>
<div class="navbar fixed-top mynav ">
    <div class="container">
        <div class="navbar-header">
            <a style="color: black;" routerLink="/" class="navbar-brand medium">Medium</a>

        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="home"><span
                            style="padding:5px;"></span>Home</a> </li>
                <li routerLinkActive="active"><a routerLink="/create"><span
                            style="padding:5px;"></span>Create</a></li>

            </ul>



            <ul class="nav navbar-nav navbar-right">


                <ul class="nav navbar-nav ">
                    <li><button class="btn btn-success" *ngIf="!authService.signedIn()" (click)="onClickSignin()" style="background-color: transparent;
                      border:0px solid transparent;
                     margin-top:8px;"><a style="color: #00b33c;text-decoration: none; ">Sign in</a></button> </li>

                    <li><button *ngIf="!authService.signedIn()" class="btn btn-success" (click)="onClickSignup()" style="background-color: transparent;
                       
                        margin-top:8px;"><a style="color:#00b33c;
                        text-decoration: none;">Get started</a></button></li>

<li class="dropdown " appDropdown>
    <button *ngIf="authService.signedIn()"  style="background-color:white; border: none;  margin-top:13px"
><a routerLink ="/myProfile"><span style="color: #00b33c">My Profile</span></a></button>
<span style="margin-right: 20px; color: #00b33c; text-decoration: none" *ngIf="authService.signedIn()" class="caret dropdown-toggle button"></span>

    
     
<ul class="dropdown-menu"> 
   
    <li><a style="cursor: pointer;" routerLink="/bookmark">Bookmarks</a></li>
    <li class="dropdown myDropdown" appDropdown>
            <button *ngIf="authService.signedIn()" style=" background-color:white; border: none;"
             class="dropdown-toggle button">Change Info</button>
        <ul class="dropdown-menu">
    <li><button style=" background-color:white; border: none;" (click)="onChangeN()" >Change Name</button></li>
    <li><button style=" background-color:white; border: none;" (click)="onChangeU()" >Change Username</button></li>
    <li><button style=" background-color:white; border: none;" (click)="onChangeE()" >Change Email</button></li>
    <li><button style=" background-color:white; border: none;" (click)="onChangeP()" >Change Password</button></li></ul></li> 
    <li><button style=" background-color:white; border: none;" (click)="onDeleteProfile()">Delete Profile</button></li>
</ul>
</li>



                        

 <li><button *ngIf="authService.signedIn()"  class="btn btn-success"
 (click)="toHomePage()" style="background-color: white; border:1px solid black ;
   
    margin-top:8px;"><a style="color:black;
    text-decoration: none;">Logout</a></button></li>

                            





        

       





                </ul>
            </ul>
        </div>
    </div>
</div>