<div  class="navbar  mynav margin ">
    <div class="container">
        <div class="navbar-header">
            <a  style="color: black;"routerLink="/" class="navbar-brand medium">Medium</a>

        </div>

        <div class="navbar-default">
                <ul class="nav navbar-nav">
                    <li  routerLinkActive="active"><a  routerLink="/home">Home</a> </li>
                    <li routerLinkActive="active"><a routerLink="/create">Create</a> </li>
    
                </ul>

        
            
            <ul class="nav navbar-nav navbar-right">
                
                
                <ul class="nav navbar-nav ">
                <li><a style="color: #00b33c; cursor: pointer;">Sign in</a> </li>
                
                      <li><button class="btn btn-success"
                        style="background-color: transparent;
                        color:#00b33c;
                        margin-top:8px;">Get started</button></li>

            </ul> 
            </ul>
        </div>
    </div>
</div>


        
         