<hr style="opacity: 0;">
<div class="footer color">
    <div class="container ">
        <div class="row" style="margin-top:70px;">
            <div class="col-md-4">
                <h4><b>Discover Medium</b></h4>
                <p style="opacity: 0.8; ">Welcome to a place where words matter. On Medium, smart voices and original ideas take center stage - with no ads in sight.</p>
            </div>

            <div class="col-md-4">
                <h4><b>Make Medium yours</b></h4>
                <p style="opacity: 0.8; ">Follow all the topics you care about, and we’ll deliver the best stories for you to your homepage and inbox</p>
                
            </div>

            <div class="col-md-4">
                <h4><b>Become a member</b></h4>
                <p style="opacity: 0.8; ">Get unlimited access to the best stories on Medium — and support writers while you’re at it. Just $5/month. </p>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-8">
                <h2 style="font-family: 'Times New Roman', Times, serif;"><b>Medium</b></h2>
            </div>
            
            <div class="col-md-4">
                    <ul class="footerLink" type="none">
                            <li><a routerLink="" style="color:white; opacity: .8;">About</a></li> 
                            <li ><a  routerLink="" style="color:white; opacity: .8;">Help</a> </li>
                            <li><a routerLink="" style="color:white; opacity: .8;" >Legal</a></li>
            
                        </ul>
        
            </div>

        </div>

    </div>
</div>
