

<div class="container-fluid" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
   <div class="row">
      <div class="col-md-8">



        
           
          <h3 
          style="margin:0px 0 25px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
          >{{'Current Affairs'}}</h3><hr>

            <div *ngFor="let blog of blogs; index as i; ">
               
              
              <div *ngIf="blog.category == 'Current Affairs'">
                  
                
                  
                  <a style="cursor: pointer;"
                  [routerLink] = "['/description', array[i]]" 
                               routerLinkActive = "active"
                
                  >
   
                  <div class="row" style="margin-bottom: 50px;">
                     <div class="col-md-9">
                       
                       
                        <div class="pull-left">
                               <a  ><h3 class="list-group-item-heading" style="color:black;
                                opacity: .9; font-size:1.5em; font-weight:600 ">{{blog.title}}</h3></a>
                               <p  *ngIf="blog.subTitle"
                                class="list-group-item-text"
                                 style="color:black;
                                 font-size:1.0.9em;
                                  opacity: .6">{{blog.subTitle}}</p><br>
                               <p
                                class="list-group-item-text"
                                 style="color:black;  opacity: .8">{{blog.publisher}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.date}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.time}} mins read <span class="glyphicon glyphicon-star"></span></p>
                             
        
                           </div>  
                     </div>
                 
                 
        
                 
                     <div class="col-md-3">
                          <span class="pull-right">
                            <img
                            
                             [src]="blog.imagePath"
                             alt="" class="img-responsive"
                             
                              >
                        </span>
                      </div>
                      </div>
                      </a>
   
              </div>

               
            </div>
            
       
          
          <h3 
          style="margin:70px 0 25px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
          >{{'Technology'}}</h3><hr>

            <div *ngFor="let blog of blogs; index as i; ">
               
              
              <div *ngIf="blog.category == 'Technology'">
                 
                
                  
                  <a style="cursor: pointer;"
                  [routerLink] = "['/description', array[i]]" 
                  routerLinkActive = "active"
                  >
   
                  <div class="row" style="margin-bottom: 50px;">
                     <div class="col-md-9">
                       
                       
                        <div class="pull-left">
                            <a  ><h3 class="list-group-item-heading" style="color:black;
                             opacity: .9; font-size:1.5em; font-weight:600 ">{{blog.title}}</h3></a>
                               <p  *ngIf="blog.subTitle"
                                class="list-group-item-text"
                                 style="color:black;
                                 font-size:1.0.9em;
                                  opacity: .6">{{blog.subTitle}}</p><br>
                               <p
                                class="list-group-item-text"
                                 style="color:black;  opacity: .8">{{blog.publisher}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.date}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.time}} mins read <span class="glyphicon glyphicon-star"></span></p>
                               
                               
        
                           </div>  
                     </div>
                 
                 
        
                 
                     <div class="col-md-3">
                          <span class="pull-right">
                            <img
                            
                             [src]="blog.imagePath"
                             alt="" class="img-responsive"
                             
                              >
                        </span>
                      </div>
                      </div>
                      </a>
   
              </div>

               
            </div>



             <h3 
          style="margin:70px 0 25px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
          >{{'Creativity'}}</h3><hr>

            <div *ngFor="let blog of blogs; index as i; ">
               
              
              <div *ngIf="blog.category == 'Creativity'">
                 
                
                  
                  <a style="cursor: pointer;"
                  [routerLink] = "['/description', array[i]]" 
                            routerLinkActive = "active"
                
               >
   
                  <div class="row" style="margin-bottom: 50px;">
                     <div class="col-md-9">
                       
                       
                        <div class="pull-left">
                            <a  ><h3 class="list-group-item-heading" style="color:black;
                             opacity: .9; font-size:1.5em; font-weight:600 ">{{blog.title}}</h3></a>
                               <p  *ngIf="blog.subTitle"
                                class="list-group-item-text"
                                 style="color:black;
                                 font-size:1.0.9em;
                                  opacity: .6">{{blog.subTitle}}</p><br>
                               <p
                                class="list-group-item-text"
                                 style="color:black;  opacity: .8">{{blog.publisher}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.date}}</p>
                               <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.time}} mins read <span class="glyphicon glyphicon-star"></span></p>
                            
        
                           </div>  
                     </div>
                 
                 
        
                 
                     <div class="col-md-3">
                          <span class="pull-right">
                            <img
                            
                             [src]="blog.imagePath"
                             alt="" class="img-responsive"
                             
                              >
                        </span>
                      </div>
                      </div>
                      </a>
   
              </div>

               
            </div>



            
                   
          
                   
                      
              
         
            
            <h3 
            style="margin:70px 0 25px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
            >{{'Health'}}</h3><hr>
  
              <div *ngFor="let blog of blogs; index as i; ">
                 
                
                <div *ngIf="blog.category == 'Health'">
                   
                  
                    
                    <a style="cursor: pointer;"
                    [routerLink] = "['/description', array[i]]" 
                              routerLinkActive = "active"
                  
                   >
     
                    <div class="row" style="margin-bottom: 50px;">
                       <div class="col-md-9">
                         
                         
                          <div class="pull-left">
                              <a   ><h3 class="list-group-item-heading" style="color:black;
                               opacity: .9; font-size:1.5em; font-weight:600 ">{{blog.title}}</h3></a>
                                 <p  *ngIf="blog.subTitle"
                                  class="list-group-item-text"
                                   style="color:black;
                                   font-size:1.0.9em;
                                    opacity: .6">{{blog.subTitle}}</p><br>
                                 <p
                                  class="list-group-item-text"
                                   style="color:black;  opacity: .8">{{blog.publisher}}</p>
                                 <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.date}}</p>
                                 <p class="list-group-item-text" style="color:black; opacity: .6">{{blog.time}} mins read <span class="glyphicon glyphicon-star"></span></p>
                                
                                 
          
                             </div>  
                       </div>
                   
                   
          
                   
                       <div class="col-md-3">
                            <span class="pull-right">
                              <img
                              
                               [src]="blog.imagePath"
                               alt="" class="img-responsive"
                               
                                >
                          </span>
                        </div>
                        </div>
                        </a>
     
                </div>
  
                 
              </div>
  




           
            
       </div>
     </div>
 </div>
                   


                                      
                                              
                                     
                                                      
                                                  
                                              
      
 