<!-- <div class="row">
    <div class="col-xs-12">
        <form (ngSubmit) = "onSubmit(f)" #f="ngForm">
            
                <div class="col-sm-5 form-group">
                    <label for="title">Title</label>
                    <input type="text"
                     id="title"
                      class="form-control"
                      name  ="title"
                      ngModel
                      required
                     
                    >

                    <label for="subtitle">SubTitle</label>
                    <input type="text"
                     id="subtitle"
                      class="form-control"
                      name  ="subtitle"
                      ngModel
                      required
                     
                    >

                    <label for="publisher">Publisher</label>
                    <input type="text"
                     id="publisher"
                      class="form-control"
                      name  ="publisher"
                      ngModel
                      required
                     
                    >

                    <label for="time">Time</label>
                    <input type="text"
                     id="time"
                      class="form-control"
                      name  ="time"
                      ngModel
                      required
                     
                    >

                    <label for="imagepath">ImagePath</label>
                    <input type="text"
                     id="imagepath"
                      class="form-control"
                      name  ="imagepath"
                      ngModel
                      required
                     
                    >

                    <label for="description">Description</label>
                    <input type="text"
                     id="description"
                      class="form-control"
                      name  ="description"
                      ngModel
                      required
                     
                    >
                </div>
                
            
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid" >{{ editmode ? 'Update' : 'Create' }}</button>
                    <button 
                    *ngIf="editmode"
                    class="btn btn-danger"
                     type="button"
                      (click) = onDelete()
                      >Delete</button>
                    <button class="btn btn-primary" type="button" (click) = onClear()>Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
 -->
