<!-- <mat-toolbar>
        <button class="btn-dialog-close"
         mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar> -->
                
            


 <div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            


            <form (ngSubmit)="onSignup(f)" #f="ngForm">
                <div class="form-group">
                        <label for="fname"> First Name</label>
                        <input type="text"
                         id="fname"
                          class="form-control"
                          placeholder="first name"
                          name ="fname"
                          ngModel
                          required
                          #fname = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="!fname.valid && fname.touched"
                          style="color:red">First Name is required</span>
                </div>

                <div class="form-group">
                        <label for="lname"> Last Name</label>
                        <input type="text"
                         id="lname"
                          class="form-control"
                          placeholder="last name"
                          name ="lname"
                          ngModel
                          required
                          #lname = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="!lname.valid && lname.touched"
                          style="color:red">Last Name is required</span>

                          
                         
                          
                </div>


                <div class="form-group">
                        <label for="username"> Username</label>
                        <input type="text"
                        placeholder="username"
                         id="username"
                          class="form-control"
                          name ="username"
                          ngModel
                          required
                          #username = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="!username.valid && username.touched"
                          style="color:red">Enter a valid Username</span>
                </div>


                <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email"
                         id="email"
                          class="form-control"
                          placeholder="email"
                          name ="email"
                          pattern ="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                          ngModel
                          required
                          #email = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="!email.valid && email.touched"
                          style="color:red">Enter a valid email</span>
                </div>


                <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                         id="password"
                         placeholder="password"
                          class="form-control"
                          name ="password"
                          ngModel
                          [minlength] ='8'
                          required
                          #password = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="password.touched && password.errors?.required"
                          style="color:red">Enter minimum 8 characters</span>
                </div>



                <div class="form-group">
                        <label for="confirmPassword"> Confirm Password</label>
                        <input type="password"
                        appConfirmEqualValidator="password"
                        placeholder="confirm password"
                         id="confirmPassword"
                          class="form-control"
                          name ="confirmPassword"
                          ngModel
                          required
                          #confirmPassword = "ngModel">
                          <span
                          class="help-block"
                          *ngIf="confirmPassword.touched && confirmPassword.errors?.required"
                          style="color:red">Confirm Password is required</span>

                          <span
                          class="help-block" 
                          *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
                           !confirmPassword.errors?.required"
                          style="color:red">Password and Confirm Password doesn't match</span>
                </div>

                <button
                [disabled]="!f.valid"
                type="submit" class="mybutton">Get Started</button>


                
                         
                        
               
            </form>
            <p style="text-align:center; margin-top:10px;">Already have an account ?
                 <button style="background-color: transparent;
                 border:0px solid transparent;"
                  (click)="navigateToSignin()">
                  <span style="color: #00b33c;text-decoration: none; ">Sign in</span></button> </p>

        </div>
        <div class="col-md-2"></div>
    
</div> 


