<div class="row">
        <div class="row">
          <div class="col-md-8">
              <p style="font-size: 4.2em;
              font-family: 'Times New Roman', Times, serif;
              color:black;"><b>Welcome to Medium, where words matter.</b></p>
          </div>
        </div>
       
        <hr>
        <div class="row">
          <img src="assets/images/read-medium.png" max-width="70%"><hr>
         
        </div>
        <p style="font-size: 4.2em;
        font-family: 'Times New Roman', Times, serif;
        color:black;"><b>Ideas and perspectives you won’t find anywhere else.</b></p>
        
      </div>
