<form  class="form" (ngSubmit) = "onVerify(f)" #f="ngForm">
            
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="otp">Enter otp</label>
          <input
          type="number"
          id="otp"
          name="otp"
          class="form-control"
          ngModel
          required
          #otp="ngModel">
          <span
          class="help-block"
          *ngIf="!otp.valid && otp.touched"
          style="color: red;">otp is required</span>
          <p>otp will expire in 2 minutes</p>
        </div>
      </div>
    </div>
    <button
    type="submit"
    class="btn btn-success"
    [disabled]="!f.valid">Verify OTP</button>

    <div
    *ngIf="resend">
    <button
    (click)="onResend()"
    class="btn btn-primary">Resend OTP</button>

</div>

</form>
