<div style="float:right ">
        <button class="btn-dialog-close"
        (click)="onClose()" tabIndex="-1">
         <span style="font-size: 1.4em; opacity: 0.4;">X</span></button>
</div>


<form  class="form" (ngSubmit) = "onChangePassword(f)" #f="ngForm">
            
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="oldP">Old Password</label>
          <input
          [class.has-error] = errIncorrectOldP
          type="password"
          id="oldP"
          name="oldP"
          class="form-control"
          ngModel
          [minlength] ='8'
          
          required
          #oldP="ngModel">
          <span
          class="help-block"
          *ngIf="!oldP.valid && oldP.touched"
          style="color: red;">Old Password is required</span>

          <label for="newP">New Password</label>
          <input
          type="password"
          id="newP"
          name="newP"
          class="form-control"
          ngModel
          [minlength] ='8'
          
          required
          #newP="ngModel">
          <span
          class="help-block"
          *ngIf="!newP.valid && newP.touched"
          style="color: red;">Minimum 8 charcaters password is required</span>

          <label for="confirmP">Confirm New Password</label>
          <input
          [class.has-error] = errUnmatched
          type="password"
          id="confirmP"
          name="confirmP"
          class="form-control"
          ngModel
          [minlength] ='8'
          appConfirmEqualValidator="newP"
          required
          #confirmP="ngModel">
          <span
                          class="help-block"
                          *ngIf="confirmP.touched && confirmP.errors?.required"
                          style="color:red">Confirm Password is required</span>

                          <span
                          class="help-block" 
                          *ngIf="confirmP.touched && confirmP.errors?.notEqual &&
                           !confirmP.errors?.required"
                          style="color:red">Passwords doesn't match</span>
          
        </div>
      </div>
    </div>

    <div >
    <button
    type="submit"
    class="btn btn-success"
    [disabled]="!f.valid" >Change Password</button>
  </div>
   

</form>

