.mybutton{
    margin:1.7em 0 0 10.4em;
    padding:6px 20px ;
    border:2px solid black;
    background-color: transparent;
    color:black;
    

}

.mybutton:hover{
    background-color: green;
    color:white;
    border:2px solid green; 

}

input.ng-invalid.ng-touched{
    border:2px solid red;
}