<div class="container-fluid">
        <div class="row">
                
                <div class="col-md-8">
                        <app-home-list1 
                        *ngFor="let blogEl of blogs; let i = index "
                        [blog]="blogEl" [index]="i"></app-home-list1>
                    
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                     <router-outlet></router-outlet>   
                </div>
        </div>       
            

</div>
 